<?xml version="1.0" encoding="UTF-8"?>
<!--
  侧载重签最小模板：全能签 / 轻松签 / PlumeImpactor 导入后重签即可
  仅保留两项内存相关权限，不携带 App Group，兼容性最好
Copyright © 2026 星云云络科技 | NebulaDex 项目 | 基于 MIT 开源协议发布
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.kernel.increased-memory-limit</key>
	<true/>
	<key>com.apple.developer.kernel.extended-virtual-addressing</key>
	<true/>
</dict>
</plist>
